@import "../../styles/placeholders.scss";

.card {
  @extend %card;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  column-gap: 25px;
  row-gap: 25px;
}
