$white: #ffffff;
$alablaster: #fcfcfc;
$silver: #cccccc;
$gallery: #eaeaea;
$dodger-blue: #1890ff;
$eastern-blue: #1f97b0;
$twilight-blue: #f1fbff;
$wild-sand: #f5f5f5;
$portage: #a16ef4;
$lima: #52c41a;
$sunset-orange: #ff4d4f;
