@import "./colours.scss";

$side-nav-background-colour: $white;
$body-colour: $alablaster;
$header-background-colour: $wild-sand;
$header-text-colour: $portage;
$content-background-colour: $alablaster;
$box-shadow-colour: $silver;

$login-container-background-colour: $gallery;
$login-icon-colour: $eastern-blue;
$login-icon-border-colour: $dodger-blue;
$login-top-header-background-colour: $eastern-blue;

$email-verified-icon-colour: $lima;
$email-not-verified-icon-colour: $sunset-orange;
