@import "../../styles/variables.scss";
@import "~antd/dist/antd.css";

.container {
  height: 100%;

  > .sider {
    background-color: $side-nav-background-colour;
  }

  .header {
    background-color: $header-background-colour;
    padding-top: 20px;
    height: 90px;

    > .headerContent {
      display: flex;
      justify-content: space-between;

      .email {
        margin-left: 10px;
      }

      > .myInformation {
        cursor: pointer;
      }
    }
  }

  .content {
    background-color: $content-background-colour;
    padding: 50px;
  }

  .menuIcon {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
